.subcatecory__wrapper{
  position: absolute;
  z-index: 2;
  left: 100%;
  width: 200px;
  background-color: #000;
}
.subcategory-item{
  padding: 5px;
  border-bottom: 1px solid #fff;
  &:hover{
    background-color: #fff;
    color: #000;
  }
}
