.cart-elements{
  margin-top: 30px;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
  margin-top: 20px;
}
.item {
  margin-left: 20%;
  margin-bottom: 20px;
  display: flex;
  gap: 30px;
  border: 2px solid black;
  width: 60%;
  align-items: center;
  padding: 20px;
}

.item-image {
  width: 200px;
}
.item-info {
  max-width: 400px;
}
.item-name {

  margin-top: 10px;
  font-weight: 700px;
}
.item-descr {
  margin-top: 10px;
}
.item-price {
  margin-top: 10px;
}
.item-amount {
}
.empty{
  position: absolute;
  top: 30%;
  left: 45%;
  font-size: 30px;
}
.secont{
  display: flex;
  justify-content: center;
}
.form-groups-wrapper{
  display: flex;
  gap: 60px;
  margin-bottom: 30px;
}
.form-group{
  display: flex;
  flex-direction: column;
  gap: 30px;
}
textarea{
  padding: 10px;
  margin-bottom: 20px;
}
