<div class="wrapper">
  <ng-container *ngIf="products.length; else elseTemplate">
    <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    <div class="cart-elements" *ngIf="activeIndex === 1">
      <div *ngFor="let product of products  | sort:'price'">

        <div class="item">
          <div class="item-image">
            <img  (error)="errorHandler($event)" [src]="product.imageUrls[0]" alt="Image" height="100"/>
          </div>
          <div class="item-info">
                  <div class="item-name">
                    <a  [routerLink]="['/product/'+product.id]">
                      {{product.name}}
                    </a>
                  </div>
                  <div class="item-descr">
                    {{product.description.slice(0,100)}}
                  </div>
                  <div class="item-price">
                    {{product.price | currency:"USD"}}
                  </div>
          </div>
          <div class="item-amount">
            <p-inputNumber
        [showButtons]="true"
        [max]="product.availableAmount"
        [min]="0"
              [(ngModel)]="product.amount"
      decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" ></p-inputNumber>
          </div>
          <div  pTooltip="remove from cart" tooltipPosition="top"  (click)="deleteFromCart(product.id)" class="icon">
            <fa-icon class="clock" [icon]="trashIcon"></fa-icon>
          </div>
             </div>

    </div>
    </div>
    <div class="secont" *ngIf="activeIndex === 2">
          <app-orderitem [btnLabel]="'Create order'" (onSubmit)="onSubmit($event)"></app-orderitem>
    </div>
  </ng-container>
  <ng-template #elseTemplate>
  <div class="empty">
    Cart is empty !
  </div>
  </ng-template>


</div>
