.subheader-wrapper {
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input{
  width: 140%;
}
.subheader-item {
  font-size: 25px;
  font-weight: 400;
}
.subheader-item_1 {
}
.subheader-item_2 {
}
.p-button-raised {
}
.p-button-outlined {
}
.subheader-item_3 {
}
.p-input-icon-left {
}
.pi {
}
.pi-search {
}
.subheader-item_4 {
}
