.categories-wrapper {
  margin: 20px;
  width: 250px;
  position: relative;
}
.category-item {
  margin: 10px;
  background-color: #000;
  color: #fff;
  padding: 4px;
  cursor: pointer;

}
a{
  color: white;
  text-decoration: none;
}
