<div *ngIf="showAccountbuttons" class="buttons-wrapper">
  <ng-container *ngIf="userInfo; else elseTemplate">
      <div class="userName for-click">
        {{userInfo.firstName}} {{userInfo.lastName}}
      </div>
      <div (click)="logOut()" class="buttons-item for-click">
        <fa-icon class="logout"  [icon]="signOut"></fa-icon>
        Log out
      </div>
      <div  class="buttons-item for-click">
        <fa-icon class="cart"  [icon]="cart"></fa-icon>
       Cart
      </div>
      <div [routerLink]="['/cart']"  class="buttons-item for-click">
        <fa-icon class="bars"  [icon]="bars"></fa-icon>
       orders
      </div>
  </ng-container>
  <ng-template #elseTemplate>
    <button [routerLink]="['/login']" pButton type="button" class="p-button-secondary p-button-rounded">
      login
  </button>
  <button [routerLink]="['/register']" pButton type="button" class="p-button-secondary p-button-rounded">
  register
  </button>
  </ng-template>
</div>

