.categories-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  padding: 10px;
  background: linear-gradient(#A2218D, #0D1117);
margin:0,10px;
}
.category-item {
  color: white;
}
a{
  color: white;
}
