<div class="history">
  <a [routerLink]="['/']" >
    Home ></a>
    <a  [routerLink]="['/category',id]">
    {{id}}>
  </a>
    <a *ngIf="subid"  [routerLink]="['/category/'+id+'/'+subid]" >
    {{subid}}>
  </a>
</div>
<select class="by-id-select" [(ngModel)]="sortField" name="select" id="select">
  <option selected  value=""  label="sort by"></option>
  <option value="price" label="price"></option>
  <option value="rating" label="rating"></option>
</select>
<div class="wrapper">
  <app-product
*ngFor="let product of goods | sort:sortField"
[product]="product"
>
</app-product>
</div>
<p-progressSpinner *ngIf="loading"></p-progressSpinner>
<div #intercept class="for-intercept"></div>
