.image-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100vh;
  background-color: #000;
  img{
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 15%;
    display: block;
    height: 800px;
    max-width:85%;
  }
}
.times{
  color: white;
  font-size: 50px;
  position: fixed;
  top: 10px;
  right: 80px;
  cursor: pointer;
}
