<div class="wrapper">
  <ng-container *ngIf="products.length; else elseTemplate">
    <div *ngFor="let product of products">

      <div class="item">
        <div class="item-image">
          <img  (error)="errorHandler($event)" [src]="product.imageUrls[0]" alt="Image" height="100"/>
        </div>
        <div class="item-info">
                <div class="item-name">
                  <a  [routerLink]="['/product/'+product.id]">
                    {{product.name}}
                  </a>
                </div>
                <div class="item-descr">
                  {{product.description.slice(0,100)}}
                </div>
                <div class="item-price">
                  {{product.price | currency:"USD"}}
                </div>
        </div>
        <div pTooltip="remove from favorites" tooltipPosition="top"  class="item-amount">
          <fa-icon
          (click)="addFavorite(product.id)"
          [ngStyle]="{color:'red'}"
          class="heart"  [icon]="heart"></fa-icon>
        </div>
           </div>

  </div>
  </ng-container>
  <ng-template #elseTemplate>
    Favorite products don't found
  </ng-template>

</div>
